{% extends 'base.html' %}
{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Shirts{% endblock  %}

{% block content %}

<h1 class="header pt-5">Classic Styles </h1>
<div class="product_galary">
    {% for shirt in shirts %}
    <!-- <a href=""> -->
      <div class="product_card">
        <div class="div-product-image">
          <figure class="image is-square ">
            <img src="{{shirt.img}}" alt="{{shirt.name}}" class="image_product"/>
          </figure>
        </div>
        <div class="card-header">
          <div class="card-header-title">
            <p >{{shirt.name}}</p> 
          </div>
          <div class="product-price">
            <p >${{shirt.price}}</p>
          </div>
          
        </div>
      </div>
  <!-- <div class="card-header">
  </div> -->
  <!-- <div>
    <p class="card-product-review">{{product.review}</p>
  </div> -->
  <!-- </a> -->
  {% endfor %}
</div>
</div>
{% endblock %}