{% extends 'base.html' %} 
{% block content %}
<h1 class="header"> Denim {{shirts.name}}</h1>
<br />
<div class="detail_list">
    <div class="image_detail">
        <img src="{{shirts.img}}" alt="{{shirt.name}}" />
    </div>
    <div class="detail_description">
        <br />
        <span><strong>Description: </strong><br/> {{shirts.description}}</span>
        <br />
        <span><strong>Price:</strong> ${{shirts.price}}</span>
      </div>

    <div class="detail__reviews mb-5"> 
        <h4 class="h4_tag">Reviews</h3>
        <hr/>
    <div class="add_Rating">
        <form class="mb-5 detail_form" action="{% url 'create_comment' products.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input class="button is-primary" type="submit" value="Add Reviews" />
                </div>
                <div class="control">
                    <textarea class="input" type="text" name="comment" placeholder="review" required
                    ></textarea>
                </div>
            </div>
        </form>
    </div>  
        {% for review in reviews %}
        <div class="span_background">
            <span class="span_background">{{forloop.counter}}.</span>
            <span class="span_background"> {{review.comment}}</span> <br/>
            <a href="{% url 'comment_update' review.pk %}" class="button is-danger span_btn">
                <span class="icon icon_btn">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="{% url 'comment_delete' review.pk %}" class="button is-danger span_btn">
                <span class="icon ">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </a>
        </div>
    </div>
    {% empty %}
    <span >No comments</span>
    {% endfor %}
    </div>
</div>

{% endblock %}