{% extends 'base.html' %}
{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Pants{% endblock  %}

{% block content %}

<h1 class="header pt-5">Pants </h1>
<div class="product_galary ">
    {% for pant in pants %}
    <a href="{% url 'pants_detail' pant.pk %}">
      <div class="product_card">
        <div class="div-product-image">
          <figure class="image is-square ">
            <img src="{{pant.img}}" alt="{{pant.name}}" class="image_product"/>
          </figure>
        </div>
        <div class="card-header">
          <div class="card-header-title">
            <p >{{pant.name}}</p> 
          </div>
          <div class="product-price">
            <p >${{pant.price}}</p>
          </div>
          
        </div>
      </div>
  <!-- <div class="card-header">
  </div> -->
  <!-- <div>
    <p class="card-product-review">{{product.review}</p>
  </div> -->
  <!-- </a> -->
  {% endfor %}
</div>
</div>
{% endblock %}