{% extends 'base.html' %} 
{% block content %}
<h1 class="header"> Shirt_</h1>

<div class="detailimg">
    <img src="{{shirts.img}}" alt="{{shirt.name}}" />
</div>
<br />
<h1 class="header">{{shirts.name}}</h1>

<div class="product_card">
    <h3 class="div-product-image">Songs</h3>

    <div class="div-product-image">
      <span><b>{{shirts.name}}</b></span>
      <span>{{shirts.description}}</span>
    </div>

<div class="detail__container">
    <div class="buttons">
        <a href="" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{shirt.description}}</p>
    </div>
</div>


{% endblock %}