{% extends 'base.html' %} {% block content %}

<span class="navbar-item welcome">Welcome: {{user.username}}</span>
<h1 class="header pt-5">Products </h1>
<form class="mb-5" method="get">
  <div class="field has-addons align">
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input searchInput" type="text" name="name" placeholder="product name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'product_list' %}">Clear Search</a>
  
</form>
<div class="products_list">
  <div class="categories">
    <div class="categories_list">
        <h3 class="h3_categories"><strong>Categories</strong></h3>
        <hr />
      <ul>
        <li>
          <a href="{% url 'classic_shirt' %}">
            Classic Shirt
          </a>
        </li>
        <li>
          <a href="{% url 'denim_shirt' %}">
            Denim Shirt
          </a>
        </li>
        <li>
          <a href="{% url 'oxford_shirt' %}">
            Oxford Button Shirt
          </a>
        </li>
        <li>
          <a href="{% url 'linen_shirt' %}">
            Linen
          </a>
        </li>
        <li>
          <a href="{% url 'flannel_shirt' %}">
            Flannel Shirt
          </a>
        </li>
      </ul>
    </div>
    <div class="filter_list flex-sb-m flex-w p-t-16">
      <div class="w-size11">
        <h3 class="h3_categories"><strong>Filters</strong></h3>
        <hr />
      </div>
      <div class="card mb-4">
        <h5 class="h3_categories">Price</h5>
        <div class="list-group list-group-flush">
          <p class="list-group-item"> 
            <input type="range" id="rangeInput" min="0" max="700" value="{{minMaxPrice.price}}" max={{minMaxPrice.price__max}} min={{minMaxPrice.price__min}} oninput="maxPrice.value=this.value"/>
            <!-- min="0" max="700"  -->
          </p><br />
            <!-- <p>{{minMaxPrice.price__min}}-{{minMaxPrice.price__max}}</p> -->
          <p class="list-group-item">
            Range: <input type="number" value="{{minMaxPrice.price}}" max={{minMaxPrice.price__max}} min={{minMaxPrice.price__min}} class="form-control" onkeyup="rangeInput.value= this.value" id="maxPrice" min="0" max="700" />
          </p>
        </div>
      </div>
      <div class="filter-price p-t-22 p-b-50 bo3">
        <!-- <div class="m-text15 p-b-17">
          Price
      </div> -->
      <!-- <div class="wra-filter-bar">
       <div id="filter-bar"></div>
      </div> -->
      <div class="flex-sb-m flex-w p-t-16">
        <div class="w-size11">
          <button class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4">
            <h3 class="h3_categories "><strong>Filter</strong></h3>
          </button>
        </div> 
      </div>
      <div>
        <!-- Price: $ <span class="price_range">10</span>
        - $ <span class="upto_range">600</span>--->
       </div>
    </div>
  </div>
</div>
  <div class="product_galary">
    {% for shirt in shirts %}
    <!-- <a href=""> -->
      <div class="product_card">
        <div class="div-product-image">
          <figure class="image is-square ">
            <img src="{{shirt.img}}" alt="{{shirt.name}}" class="image_product"/>
          </figure>
        </div>
        <div class="card-header">
          <div class="card-header-title">
            <p >{{shirt.name}}</p> 
          </div>
          <div class="product-price">
            <p >${{shirt.price}}</p>
          </div>
          
        </div>
      </div>
  <!-- <div class="card-header">
  </div> -->
  <!-- <div>
    <p class="card-product-review">{{product.review}</p>
  </div> -->
  <!-- </a> -->
  {% endfor %}
</div>
</div>

{% endblock %}