{% extends 'base.html' %}
{% block title %}Shirts{% endblock  %}

{% block content %}

<h1 class="header pt-5">Denim Styles </h1>
<div class="gallery">
    {% for shirt in shirts %}
    <div class="card">
      <div class="div-product-image">
        <figure class="image is-square ">
          <img src="{{shirt.img}}" alt="{{shirt.name}}" class="image_product"/>
        </figure>
      </div>
      <a href="{% url 'shoes_detail' shirt.pk %}">
        <div class="card-header-price">
          <p class="card-header-title"><strong>
              {{shirt.name}}
          </strong></p>
              <p class="card-header-title"><strong>
                  $ {{shirt.price}}.00
              </strong></p>
              <p class="ViewAll"><strong>
                  View All
              </strong></p>
          </div>
      </a>
          
      </div>
      {% empty %}
      <article class="message">
      <div class="message-header">
          <p>No Shirts Available</p>
      </div>
      </article>
      {% endfor %}
  </div>
  {% endblock %}