body{
    background-color: whitesmoke;
    color:black;
    min-height: 100vh;
    margin: auto;
}

.h1_header{
    background-color: black;
    color:whitesmoke;
    text-align: center;
    text-decoration-color: darkolivegreen;
}

h1,
h2,
h3 {
    color: #ffffff;
}

.title {
    color: #ffffff;
}
.add_Rating {
    margin-top: 10px;
    padding: 20px;
}
.header{
    color:black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-each{
    background-color:cornflowerblue;
    padding-left: 40px;
    color:black;
    max-width: 50%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
    margin-left: 30px;
}

.gallery .card {
    transition: .1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

p {
    font-size: 12px;
}

.products_list{
    display: flex;
}

.categories{
    justify-content: left;
    margin-left: 30px;
    flex-wrap: wrap;
    width:200px;
    margin-right: 20px;
}

.welcome{
    font-size: larger;
    margin-bottom: -30px;
    font-style: italic;
    color:black;
}

.product_galary{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 10px;
}

.product_card{
    flex-direction: row;
    flex-wrap: wrap;
    width: 210px;
    height: 250px;
    /* max-width: 250px; */
    /* max-height: 300px; */
}

/* .image_product{
    max-width: 200px;
    max-height: 170px;
}

.div-product-image{
    max-width: 250px;
    max-height: 200px;
} */

.product_galary .card{
    transition: .1s linear;
}

.product_galary .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

/* .product-price{
    padding: 0.1rem 1rem;

} */
.h3_categories{
    font-size: 20px;
    color: black;
}
.list{
    margin-left: 10px;
    
}

hr {
    background-color: black;
}
.filter_list{
    margin-top: 20px;
}

.mb-5{
    text-align: center;

}

.field.has-addons.align{
   display: flex;
   justify-content: center;
}

button{
    width: 80px;
    height:30px;
    margin-top: 10px;
}

.card-header-price{
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}

.footer{
    background-color:yellowgreen;
    padding-top:1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 0rem;
    margin-top: 20px;
    /* position: fixed; */
    /* bottom: 0; */
}
