*{
    margin: 0;
}

body{
    background-color: whitesmoke;
    color:black;
    /* min-height: 100vh; */
    margin: auto;
}

.h1_header{
    background-color: black;
    color:whitesmoke;
    text-align: center;
    text-decoration-color: darkolivegreen;
}
.newlabel{
    font-size: 30px;
    color: aquamarine;
    margin-bottom: -20px;
}
h1,
h2,
h3 {
    color: #ffffff;
}

.header_style{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    /* margin-top: -20px; */
    font-size: 20px;
    margin-left: 10%;
    
    font-family: 'Bebas Neue', cursive;
}

.header_style_div{
    margin-top: -10px;
}

.title {
    color: #ffffff;
}
.add_Rating {
    margin-top: 10px;
    padding: 20px;
}
.header{
    color:black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-each{
    background-color:cornflowerblue;
    padding-left: 40px;
    color:black;
    max-width: 50%;
}

.login-form{
    text-align: center;
    padding-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
    margin-left: 30px;
}

.gallery .card {
    transition: .1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

p {
    font-size: 12px;
}

.products_list{
    display: flex;
}

.categories{
    justify-content: left;
    margin-left: 30px;
    flex-wrap: wrap;
    width:200px;
    margin-right: 20px;
}

.welcome{
    font-size: larger;
    margin-bottom: -30px;
    font-style: italic;
    color:black;
}

.product_galary{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 10px;
}

.product_card{
    flex-direction: row;
    flex-wrap: wrap;
    width: 210px;
    height: 250px;
    /* max-width: 250px; */
    /* max-height: 300px; */
}

/* .image_product{
    max-width: 200px;
    max-height: 170px;
}

.div-product-image{
    max-width: 250px;
    max-height: 200px;
} */


.detail__reviews {
    max-width: 80%;
    margin-left: 20px;
    margin-bottom: 30px;
}
.comments{
    text-align: left;
    margin-left: 30px;
}
.detail_description{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: -10px;
}
.h4_tag{
    margin-top: 40px;
    text-align: left;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.createdate{
    text-align: right;

}

.product_galary .card{
    transition: .1s linear;
}

.product_galary .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

/* .product-price{
    padding: 0.1rem 1rem;

} */
.h3_categories{
    font-size: 20px;
    color: black;
}
.list{
    margin-left: 10px;
    
}

hr {
    background-color: black;
}
.filter_list{
    margin-top: 20px;
}

.mb-5{
    text-align: center;

}

.field.has-addons.align{
   display: flex;
   justify-content: center;
}

button{
    width: 80px;
    height:30px;
    margin-top: 10px;
}

.image_detail{
    margin-left: 50px;
    max-width: 40%;
}

.card-header-price{
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}

.footer{
    background-color:yellowgreen;
    padding-top:1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 0rem;
    margin-top: 20px;
    bottom: 0;
    /* position: fixed; */
    /* bottom: 0; */
}
.Footer-form{

    color: white;
    margin-bottom: 200px;
    bottom: 0;
    position: fixed;

}
.hidden{
    display: none;
}
.footer_tag{
    bottom: 0px;
    margin-top: 10px;
    background-color: black;
    color: #ffffff;
}
.Social_links{
    text-align: center;

}
.footer_text{
    text-align: center;
    font-size: 15px;
}

.footer_tag a{
    color: white;
}